@font-face {
    font-family: 'Patrick Hand';
    src: url('../../public/fonts/patrick_hand/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.globalContainer {
    min-width: 100%;
    min-height: 100vh;
    background: #fbeed6;
    display: grid;
    gap: 5px;
    font-family: 'Patrick Hand', sans-serif;
    padding: 10px 0;
    position: relative;
}



@media (min-width: 1024px) {
    .globalContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1023px) {
    .globalContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .globalContainer {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}