@font-face {
    font-family: 'Patrick Hand';
    src: url('/fonts/patrick_hand/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.globalContainer {
    background-image: url('/images/catalogue-bg.avif');
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Patrick Hand', sans-serif;
    display: flex;
    flex-direction: column;

    .profileContainer {
        flex: 1;
        border-radius: 12px;
        background-color: white;
        width: 100%;
        height: 100%;

        aside {
            height: 100%;
            width: 100%;
            background-color: #9b8a4c;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            position: relative;

            ul {
                list-style: none;
                display: flex;
                gap: 40px;
                padding: 0;

                li button {
                    all: unset;
                    cursor: pointer;
                    font-size: 12px;
                    transition: all 0.2s ease;
                    position: relative;

                    &::after {
                        content: '';
                        width: 0;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: all 0.2s ease;
                        height: 2px;
                        background-color: black;
                    }

                    &:hover {
                        color: rgb(46, 46, 46);
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }

            h2 {
                position: absolute;
                top: 10px;
                left: 10px;
                text-decoration: underline;
            }
        }
    }

    .exitBtn {
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        color: red;
        transition: all 0.2s ease;

        img {
            width: 20px;
            height: 20px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .main {
        display: flex;
        width: 100%;
        position: relative;
        height: 100%;
    }
}

@media (min-width: 1024px) {

    .globalContainer {
        padding: 50px;
    }

    .profileContainer {
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: center;
        align-items: stretch;

        aside {
            border-radius: 12px 0 0 12px;

            ul {
                flex-direction: column;

                li button {
                    font-size: 18px;
                }
            }
        }

        h2 {
            font-size: 24px;
        }

    }

    .main {
        padding: 50px 300px 50px 100px;
    }
}

@media (max-width: 1023px) {

    .globalContainer {
        padding: 0;
    }

    .profileContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        aside {
            border-radius: 12px 12px 0 0;
            padding: 20px;

            ul {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        h2 {
            font-size: 18px;
        }

        li button {
            font-size: 14px;
        }
    }

    .main {
        padding: 50px 20px 20px 20px;
    }

}