.globalContainer {
    width: 100%;
    height: 100%;
    position: relative;

    .activeOrders,
    .pastOrders {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        width: 100%;
        position: relative;
        overflow-y: auto;

        .header {
            border-bottom: 1px solid black;
            margin-bottom: 10px;
        }

    }

    .ordersList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .empty {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
    }

}

@media (min-width: 1024px) {
    .globalContainer {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
        font-size: 16px;
    }
}

@media (max-width: 1023px) {
    .globalContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 14px;
    }
}