:root {
    --background-main: #1E1E2F;
    --block-background: #2B2C3B;
    --text-color: #E0E0E0;
    --text-color-additional: #9FA5B5;
    --graphs-color: #8884D8;
    --misses-color: #cc1818;
    --positive-color: #0ba744;
    --accent-color: #b8933b;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E2F;
    padding: 30px 20px;
    overflow-x: hidden;
}

.global {
    background-color: var(--block-background);
    border-radius: 12px;
    display: flex;
}

#main {
    background-color: var(--text-color-additional);
    border-radius: 0 12px 12px 0;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
    font-size: 20px;
}

aside a {
    text-decoration: none;
    color: black;
    width: 100%;
}

.router-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 12px;
    transition: all 0.2s ease;
    width: 100%;
}

.router-btn:hover {
    background-color: grey;
}

.active {
    background-color: grey;
    border-radius: 12px;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.indicator {
    background-color: var(--background-main);
    padding: 10px;
    border-radius: 12px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;

}

.income {
    background-color: var(--positive-color);
}

.expenses {
    background-color: var(--misses-color);
}

.count {
    font-size: 25px;
}

.graph {
    background-color: var(--text-color);
    padding: 20px;
    border-radius: 12px;
}

.graph-header {
    display: flex;
    justify-content: space-between;
}

.graph-header .header {
    font-size: 20px;
}

.select {
    position: relative;
    cursor: pointer;
    width: 150px;
    margin: 0;
}

.select-header {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid black;
    padding: 5px 10px;
}

.options {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    background-color: rgb(193, 193, 193);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.options .option {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.option:last-child {
    border-bottom: none;
    border-radius: 0 0 12px 12px;
}

.option:first-child {
    border-radius: 12px 12px 0 0;
}

.option:hover {
    background-color: rgb(157, 156, 156);
}

.show-btn {
    transform: rotate(90deg);
    transition: all 0.2s ease;
}

.select:hover .show-btn {
    transform: rotate(180deg);
}

.select:hover .options {
    visibility: visible;
    opacity: 1;
}

.detalized-block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.history {
    background-color: var(--text-color);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.history-header {
    font-size: 20px;
}

.day-history {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.day-history:last-child {
    border-bottom: none;
}

.date-block {
    display: flex;
    justify-content: space-between;
}

.operations-block {
    display: flex;
    flex-direction: column;
}

.operation {
    display: flex;
    justify-content: space-between;
}

.red {
    color: var(--misses-color);
}

.green {
    color: var(--positive-color);
}

.categories {
    background-color: var(--text-color);
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categories-header {
    font-size: 20px;
}

.transactions-header {
    display: flex;
    justify-content: space-between;
}

.filter-container {
    display: flex;
    gap: 20px;
}

.account-managment {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.account-managment img {
    width: 20px;
    height: 20px;
}

.transfer-block, .replenishment-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.transfer-btn, .replenishment-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--graphs-color);
    padding: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.transfer-btn:hover, .replenishment-btn:hover {
    background-color: #645de3;
}

.transactions-list-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    color: var(--text-color);
}

.transactions-list-header {
    border-radius: 12px 12px 0 0;
    font-weight: 700;
}

.transactions-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.transaction, .transactions-list-header {
    background-color: var(--block-background);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
}

.transaction:last-child {
    border-radius: 0 0 12px 12px ;
}

.profile-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.profile-data {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--accent-color);
    border-radius: 12px;
    padding: 20px;
}

.profile-photo-block {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

.profile-photo-block span {
    background-color: var(--accent-color);
    border-radius: 12px;
    padding: 10px;
}

.profile-photo {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
}

.profile-photo img {
    width: 100%;
    height: 100%;
}

.profile-photo::before {
    content: '';
    background-image: url('./images/photo-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
    visibility: hidden;
    opacity: 0;
}

.profile-photo:hover::before {
    visibility: visible;
    opacity: 1;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.edit-btn, .exit-btn {
    all: unset;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.edit-btn {
    background-color: var(--graphs-color);
}

.exit-btn {
    background-color: var(--misses-color);
}

.edit-btn:hover {
    background-color: grey;
}

.exit-btn:hover {
    background-color: rgb(168, 39, 39);
}

.edit-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}

#edit-modal {
    position: relative;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--text-color-additional);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 6px;
}

.close-modal-btn {
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 1, 1);
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.close-modal-btn:hover {
    transform: scale(1.1);
    background-color: red;
}

.modal-select {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-select-main {
    width: 100%;
    position: relative;
}

.modal-select-header {
    border-radius: 2px;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.modal-select-main:hover .show-btn {
    transform: rotate(180deg);
}

.modal-select-options {
    background-color: var(--text-color);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    bottom: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    width: 100%;

}

.modal-select-main:hover .modal-select-options {
    visibility: visible;
    opacity: 1;
}

.modal-select-option {
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    cursor: pointer;
    transition: all 0.2s ease;
}

.modal-select-option:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.edit-modal-main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.current-value {
    width: 100%;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.form-group input {
    all: unset;
    border-radius: 2px;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 10px;
    font-size: 20px;
}

.form-group input:focus {
    transform: scale(1.1);
}

.submit-btn {
    all: unset;
    justify-self: flex-end;
    align-self: center;
    font-size: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 12px;
    background-color: var(--positive-color);
}

.submit-btn:hover {
    transform: scale(1.1);
    background-color: green;
}

.submit-btn:active {
    transform: scale(1.0);
}
