.globalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
    gap: 30px;
    cursor: pointer;

    .header {
        text-align: center;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
}