.globalContainer {
    width: 100vw;
    height: 100%;


    video {
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 1024px) {
    .globalContainer {
        position: fixed;
        z-index: -100;
        overflow: hidden;
        left: 0;
    }
}

@media (max-width: 1023px) {
    .globalContainer {
        background-color: #fbeed6;
        left: 0;
        position: absolute;
        z-index: -100;
    }
}