.globalContainer {
    width: 100%;
    height: 450px;
    cursor: pointer;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 2px 2px 0 10px 10px black;

    .productInfo {
        position: absolute;
        bottom: 0;
        width: 100%;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
        gap: 20px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .productFooter {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;

            .colors {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: center;
                gap: 5px;

                .colorCircle {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 3px solid grey;

                    &.active {
                        border-color: green;
                    }
                }
            }

            .sizes {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: center;
                gap: 10px;

                .size {
                    &.active {
                        text-decoration: underline;
                    }
                }
            }

            .addToCartBtn {
                all: unset;
                border-radius: 100px;
                padding: 14px 10px;
                cursor: pointer;
                border: 1px solid black;
                color: white;
                transition: all 0.2s ease;
                font-size: 12px;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: rgb(28, 28, 28);
                }
            }
        }

    }

}

@media (min-width: 1024px) {
    .globalContainer {
        .productInfo {
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
        }

        &:hover {
            .productInfo {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}

@media (max-width: 1023px) {
    .globalContainer {
        .productInfo {
            opacity: 1;
            visibility: visible;
        }
    }
}