@font-face {
    font-family: 'Patrick Hand';
    src: url('../../../public/fonts/patrick_hand/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.globalContainer {
    justify-self: center;
    font-family: 'Patrick Hand', sans-serif;
    line-height: 1.6;
    font-size: 26px;

    .unstyledLink {
        text-decoration: none;
        color: inherit;
    }

    .toCotologueBtn {
        all: unset;
        margin-top: 20px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding: 10px 50px;
        border: 2px solid;
        transition: all 0.2s ease;
        cursor: pointer;

    }
}

@media (min-width: 1024px) {
    .globalContainer {
        color: white;

        .toCotologueBtn {
            border-color: white;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

@media (max-width: 1023px) {
    .globalContainer {
        grid-column: 1 / 2;
        color: black;

        .toCotologueBtn {
            border-color: black;
            background-color: black;
            color: white;
        }
    }
}

@media (max-width: 576px) {
    .globalContainer {
        grid-row: 2 / 3;
        font-size: 20px;
        margin-top: 40px;
        color: black;

        .toCotologueBtn {
            border-color: black;
            background-color: black;
            color: white;
        }
    }
}